body {
	font-family: 'Noto Sans', sans-serif;
}
td {
	border: 2px solid black;
}
.reset {
	margin-top: 10px;
	height: 50px;
	width: 600px;
	color: white;
	background-color: #4CAF50;;
	border: none;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;

}
.scoreboard {
	height: 50px;
}
.player1 {
	height: 40px;
	width: 300px;
	text-align: center;
	background-color: #E27575;
}
.player2 {
	height: 40px;
	width: 300px;
	text-align: center;
	background-color: #75B8E2;
}
.containter {
	text-align: center;
}
.box {
	height: 200px;
	width: 200px;
}
#messages {
	font-size: 25px;
	padding: 0 0 10px 0;
}
#board {
	background-color: #5F5F5F;
	height: 600px;
	width: 600px;
	text-align: center;
	font-size: 80px;
}